<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hhp227.application"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission
        android:name="com.hhp227.application.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.hhp227.application.permission.C2D_MESSAGE" /> 
    
    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
        </activity>
        <activity android:name=".ListviewActivity" >
        </activity>
        <!-- Chat activity -->
        <activity
            android:name=".ChatActivity"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ArticleActivity"
            android:label="@string/title_activity_single" >
        </activity>
        <activity
            android:name=".fragments.TabHostLayoutFragment"
            android:label="@string/title_activity_tab_host_layout_fragment" >
        </activity>
        <activity
            android:name=".WriteActivity"
            android:label="@string/title_activity_write" >
        </activity>
        <activity
            android:name=".fragments.ShuttleScheduleFragment"
            android:label="@string/title_activity_shuttle_schedule" >
        </activity>
        <activity
            android:name=".fragments.MealFragment"
            android:label="@string/title_activity_meal_fragment" >
        </activity>
        <activity
            android:name=".ModifyActivity"
            android:label="@string/title_activity_modify" >
        </activity>
        <activity
            android:name=".MyinfoActivity"
            android:label="@string/title_activity_myinfo" >
        </activity>
        <activity
            android:name=".VerinfoActivity"
            android:label="@string/title_activity_verinfo" >
        </activity>
        <activity
            android:name=".SuggestActivity"
            android:label="@string/title_activity_feedback" >
        </activity>
        <activity 
            android:name=".NoticeActivity">
        </activity>
        <activity
            android:name=".UnivNoticeFragment"
            android:label="@string/title_activity_univ_notice_fragment" >
        </activity>
        <activity
            android:name=".PictureActivity"
            android:label="@string/title_activity_picture" >
        </activity>
        <activity
            android:name=".WebviewActivity"
            android:label="@string/title_activity_webview" >
        </activity>
        <activity
            android:name=".ReplyModifyActivity"
            android:label="@string/title_activity_reply_modify" >
        </activity>
        
        <!-- [START firebase_service] -->
        <service android:name="com.hhp227.application.fcm.MyFcmPushReceiver" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service android:name="com.hhp227.application.fcm.MyInstanceIDListenerService" >
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->
        <!--
         FirebaseMessagingService performs security checks at runtime,
             no need for explicit permissions despite exported="true"
        -->
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="true" >
            <intent-filter android:priority="-500" >
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.sonicmoov.firebase.sample" />
            </intent-filter>
        </receiver>
        <!--
 Internal (not exported) receiver used by the app to start its own exported services
             without risk of being spoofed.
        -->
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdInternalReceiver"
            android:exported="false" />
        <!--
 FirebaseInstanceIdService performs security checks at runtime,
             no need for explicit permissions despite exported="true"
        -->
        <service
            android:name="com.google.firebase.iid.FirebaseInstanceIdService"
            android:exported="true" >
            <intent-filter android:priority="-500" >
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="com.sonicmoov.firebase.sample.firebaseinitprovider"
            android:exported="false"
            android:initOrder="100" />

        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.google.android.gms.measurement.UPLOAD" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false" />
        
    </application>

</manifest>